<app-navbar></app-navbar>
<div class="container-lg pt-5 px-5">
  <ul class="list-group">
    @for (encuesta of listado(); track encuesta.id) {
    <li
      class="list-group-item d-flex justify-content-between align-items-center fs-4"
    >
      {{encuesta.titulo}}
      <div class="opciones">
        <button class="badge text-bg-success rounded-pill me-2" [routerLink]="['/gestion-encuestas',encuesta.id]">editar</button>
        <button type="button" class="badge text-bg-danger rounded-pill" (click)="confirmarEliminar(encuesta.id)">eliminar</button>
      </div>
    </li>
    }
  </ul>
</div>
<div class="modal" tabindex="-1" #modalEliminar aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">eliminar encuesta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Seguro que deseas eliminar esta encuesta?</p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="eliminar()">eliminar</button>
      </div>
    </div>
  </div>
</div>
